<div ng-controller="createPodCtrl">
    <md-content layout-padding>
        <div>
            <form name="newPodForm">

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex="20">
                        <label>Format</label>
                        <input ng-model="podData.format">
                    </md-input-container>

                    <md-input-container class="md-block" flex="20">
                        <label>Minimum Players</label>
                        <input ng-model="podData.min_players" type="number">
                    </md-input-container>

                    <md-input-container class="md-block" flex="20">
                        <label>Maximum Players</label>
                        <input ng-model="podData.max_players" type="number">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                    <label>Location</label>
                    <input ng-model="podData.location">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Start Time</label>
                        <input ng-model="podData.start_time" type="datetime-local">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Cutoff Time</label>
                        <input ng-model="podData.cutoff_time" type="datetime-local">
                    </md-input-container>
                </div>
                <div>
                    <md-button type="submit" ng-click="makePod()">Submit</md-button>
                </div>

            </form>
        </div>
    </md-content>
</div>