<div ng-controller="podCtrl">
    <h1>Pod {{pod.short_code}}</h1>
    Some <b>{{pod.format}}</b> Magic will be happening at <b>{{pod.start_time}}</b> in <b>{{pod.location}}</b> if we can get <b>{{pod.min_players}} - {{pod.max_players}}</b> players committed before <b>{{pod.cutoff_time}}</b>
    <br/>
    <form name="signupForm">
        <label>
            Name:
            <input type="text" name="name" ng-model="player.name" required>
        </label>
        <div role="alert">
            <span class="error" ng-show="myForm.userName.$error.required">Required!</span>
        </div>
        <label>
            Email:
            <input type="text" name="email" ng-model="player.email">
        </label>
        <input type="submit" ng-click="addPlayer()">
    </form>
    <br/>
    <h2>Current Players:</h2>
    <div class="gridListdemoDynamicTiles">
        <md-grid-list
                md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                md-row-height-gt-md="1:" md-row-height="4:3"
                md-gutter="8px" md-gutter-gt-sm="4px" >

            <md-grid-tile ng-repeat="tile in playerTiles"
                          md-rowspan="1"
                          md-colspan="1"
                          md-colspan-sm="1"
                          md-colspan-xs="1"
                          ng-class="tile.background" >
                <md-icon md-svg-src="avatar.svg"></md-icon>
                <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>